.square {
    font-size: 2rem;
    height: 48px;
    width: 48px;
    text-align: center;
    border: 2px solid var(--color-light-blue);
    background: none;
    cursor: pointer;
    place-items: center;
}
#correct {
    border: none;
    background-color: #c757a2;
    animation: flip 1s ease-in-out;
}
#wrong {
    border: none;
    background-color: #747072;
    animation: flip 1s ease-in-out;
}
#almost {
    border: none;
    background-color: #61aac7;
    animation: flip 1s ease-in-out;
}

@keyframes flip {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
